/* SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      MAIN COLOR: #087f5b
      SECONDARY COLOR #010d09 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #010d09;
  line-height: 1;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.header {
  grid-column: 1 / 4;
  /* justify-self: center; */
  align-self: center;
}

h1 {
  grid-column: 1 / 4;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px;
  column-gap: calc((100% - 1080px) / 2);
  row-gap: 64px;
  justify-items: center;

  max-width: 1280px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0 20px;
}

.link-container {
  position: relative;
}

.preview-open-btn {
  position: absolute;
  right: 8%;
  transform: translate(0, 32px);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-plus-icon {
  width: 24px;
  height: 24px;
  stroke: #343a40;
}

.preview-open-btn:hover,
.preview-open-btn:focus {
  border: 1px solid #343a40;
}

.link-to-component {
  padding: 20px;
  background-color: #f7950c;
  color: #212529;
  font-size: 24px;
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: transparent;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-to-component:hover,
.link-to-component:focus {
  background-color: #f08c00;
  text-decoration: underline;
}

.component-img {
  margin-bottom: 20px;
  width: 320px;
}

.preview-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: block;
  max-width: 938px;
  z-index: 10;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.preview-close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 36px;
  color: #343a40;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.preview-close-btn:hover,
.preview-close-btn:focus {
  color: #010d09;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
