* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sens-sherif;
  color: #444;
  line-height: 1;
  padding: 30px 60px;
}

a {
  display: inline-block;
}

.back-to-main {
  text-decoration: none;
  color: #099268;
  font-size: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 100px;
}

.back-to-main:hover,
.back-to-main:focus {
  text-decoration: underline;
  color: #087f5b;
}

.hero-container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 50vh;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.header-container {
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background-color: #e67e22;
  color: #fff;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
}

section {
  padding: 96px 0;
}
